version: "3.9"

services:
  web:
    build:
      context: .
      target: runner
    command: npm run start
    ports:
      - "3002:3002"
    env_file:
      - .env.local
    environment:
      NODE_ENV: production
      PORT: 3002
      NEXT_PUBLIC_API_BASE_URL: ${NEXT_PUBLIC_API_BASE_URL:-/api/v1}
      REMOTE_API_BASE_URL: ${REMOTE_API_BASE_URL:-https://api.rtbconnect.space/api/v1}
    restart: unless-stopped
